Environment
{
	autorunMapName = 
}
Video
{
	gamma = 1
	showSystemCursor = True
	drawFPS = False
	materialScheme = Default
	shadowTechnique = ShadowmapHigh
	shadowUseMapSettings = True
	shadowColor = 1 1 1
	shadowFarDistance = 1000
	shadowPSSMSplitFactors = 0.1 0.4
	shadowDirectionalLightTextureSize = 2048
	shadowDirectionalLightMaxTextureCount = 1
	shadowSpotLightTextureSize = 2048
	shadowSpotLightMaxTextureCount = 3
	shadowPointLightTextureSize = 1024
	shadowPointLightMaxTextureCount = 3
	waterReflectionLevel = OnlyModels
	showDecorativeObjects = True
}
Sound
{
	soundVolume = 0.8
	musicVolume = 0.4
}
GameControls
{
	mouseSensitivity = 1 1
	joystickAxesSensitivity = 1 1
	alwaysRun = True
}
Debug
{
	drawStaticPhysics = False
	drawDynamicPhysics = False
	drawPhysicsRayVolumeChecks = False
	drawSceneGraphOfSceneObjects = False
	drawSceneGraphOfMapObjects = False
	drawRegions = False
	drawMapObjectBounds = False
	drawSceneNodeBounds = False
	drawStaticMeshObjectBounds = False
	drawZonesPortalsOccluders = False
	drawLights = False
	drawStaticGeometry = True
	drawModels = True
	drawEffects = True
	drawGui = True
	drawFullScreenEffects = True
	drawWireframe = False
	drawGameSpecificDebugGeometry = False
	frustumTest = False
	enableDynamicLighting = True
	allowHardwareInstancing = True
	drawShadowDebugging = False
	allowPortalSystem = True
}
MainMenu
{
	showBackgroundMap = False
}
MapsWindow
{
	recentlyLoadedMaps = "Maps\\Game_Map\\Game_Map.map|"
}
Camera
{
	cameraType = TPS
	tpsCameraDistance = 2
	tpsCameraCenterOffset = 2
	tpsVehicleCameraDistance = 5
	tpsVehicleCameraCenterOffset = 1
	fov = 0
	freeCameraSpeedNormal = 20
	freeCameraSpeedFast = 100
}
ProfilingToolWindow
{
	background = False
	lastPageSelectionIndex = 0
}
